* {
  margin: 0;
  padding: 0;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-title {
  font-size: 40px;
  font-weight: 700;
  display: block;
  margin-bottom: 20px;

}

.app-box {
  margin-right: 30px;
}

.app-lost-figures {

  display: flex;
  width: 15%;
  height: 55%;
  justify-content: space-between;
}

.lost {
  background-color: #ccc;
  width: 45%;
  padding: 5px;
}

.lost__title {
  text-align: center;
}

.lost__figure {
  columns: 2;
  background-color: #ccc;
  padding: 5px;
  border-radius: 5px;
  margin: 5px 0;
}

.board {
  width: calc(64px * 8);
  height: calc(64px * 8);
  display: flex;
  flex-wrap: wrap;
}

.cell {
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell img {
  width: 50px;
  height: 50px;
  position: relative;
  z-index: 10;
}

.black {
  background-color: deepskyblue
}

.white {
  background-color: #eed4ac;
}

.selected {
  background-color: brown;
}

.available {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #22c022;
}